.pagination-container {
  display: flex;
  justify-content: center;
  margin: 30px;
  font-family: sans-serif;
}
.pagination-container > button {
  background-color: #87a3b0;
  color: white;
  border: none;
  margin: 5px;
  outline: none;
  border-radius: 5px;
}

.current-page {
  background-color: white !important;
  color: #87a3b0 !important;
  font-weight: 800;
}

.rest-pages {
  color: white;
  margin: 5px;
  font-size: 14px;
  align-self: center;
}

button:disabled {
  cursor: not-allowed;
  pointer-events: none;
  color: gray;
}

.next-button,
.prev-button {
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .pagination-container > button,
  .rest-pages {
    font-size: 20px;
  }
}
