.select-container {
  display: flex;
  flex-direction: column;
  width: 80px;
  z-index: 1;
  margin-left: 10px;
}

.filter-name-open {
  color: white;
  border: 1px solid white;
  border-radius: 9px 9px 0 0;
  text-align: center;
  padding: 5px;
  font-family: sans-serif;
}

.filter-name {
  border-radius: 9px;
  color: white;
  border: 1px solid white;
  text-align: center;
  padding: 2px;
  font-family: sans-serif;
}

.options-container {
  text-align: center;
  color: white;
  list-style: none;
  border: 1px solid white;
  border-radius: 0 0 9px 9px;
  padding: 3px;
  border-top: none !important;
  background-color: black;
  position: absolute;
  top: 104px;
  width: 72px;
}
.options-container li {
  margin: 6px 0px;
  font-family: sans-serif;
}

@media only screen and (min-width: 768px) {
  .filter-name,
  .filter-name-open {
    height: 25px;
    font-size: 20px;
  }
  .select-container {
    width: 104px;
    margin-left: 30px;
  }
  .options-container {
    top: 111px;
    width: 96px;
  }
  .options-container > li {
    font-size: 19px;
  }
}
