.header-component {
  display: flex;
  justify-content: space-evenly;
  background-color: #87a3b0;
  padding: 15px;
  align-items: center;
}

.header-component > a {
  color: black;
  text-decoration: none;
  font-size: 17px;
  font-family: sans-serif;
}

@media only screen and (min-width: 768px) {
  .header-component > a {
    font-size: 21px;
    font-weight: 600;
  }
}
