.search-container {
  margin: 0px;
  background-color: #021422;
  height: 100%;
}

.title {
  display: grid;
  place-items: center;
  color: white;
}

.input-container {
  display: flex;
  margin: 24px 0;
  justify-content: center;
  justify-content: center;
  cursor: pointer;
}
.input {
  border-radius: 10px;
  border: none;
  outline-width: 0;
  background-color: white;
  height: 23px;
  width: 153px;
}
.button {
  display: none;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media only screen and (min-width: 768px) {
  .input {
    border-radius: 10px;
    padding-left: 13px;
    font-size: 20px;
    height: 33px;
    width: 255px;
  }
}
