.footer-component {
  display: flex;
  justify-content: space-evenly;
  background-color: #87a3b0;
  height: 50px;
  align-items: center;
}

.footer-component > a {
  color: black;
  text-decoration: none;
  font-size: 20px;
}
